:root {
  --gray-lighter: #c5c7cd;
  --gray-light: #9fa2b4;
  --gray-normal: #dfe0eb;
  --gray-dark: #626262;
  --gray-darker: #252733;
  --green-lighter: #b7ebec;
  --green-light: #6cbebf;
  --green-normal: #6cbebf;
  --green-darker: #02333e;
}
