@import "color.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Mulish", "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: #feffff;
}

a {
  color: inherit;
  text-decoration: none;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #356470;
  color: white !important;
}

.ant-layout-sider-trigger {
  background: #02333e;
  color: white !important;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #02333e;
  color: white !important;
}
